version: 0.1
log:
  level: debug
http:
  addr: :5000
storage:
  cache:
    layerinfo: inmemory
  s3:
    accesskey: "{{ s3user_id }}"
    secretkey: "{{ s3user_secret }}"
    region: {{ region }}
    bucket: "{{ s3_bucket }}"
    encrypt: true
    secure: true
    v4auth: true
    rootdirectory: /registry
auth:
  openshift:
    realm: openshift
middleware:
  repository:
    - name: openshift
